.container {
  padding: 0 2rem;
}

.main {
  padding: rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-block: 20px;
  line-height: 1.15;
  font-size: 1.1rem;
  text-align: center;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.description {
  text-align: justify;
  margin: 1rem 0;
  /* line-height: 1.5; */
  font-size: 1.1rem;
  text-transform: capitalize;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: auto;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  /* text-align: left; */
  color: inherit;
  border: 1px solid #ee6352;
  border-radius: 10px;
  transition: color 0.3s ease, border-color 0.3s ease, all 0.3s ease-in-out;
  max-width: 400px;

  /* box-shadow: 8px 8px 8px 0 #ee6352; */
}

.image {
  height: 300px; 
  width:100%; 
}
.imgDiv{
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 300px;
  height: 300px;

}
.card:hover,
.card:focus,
.card:active {
  /* color: #0070f3; */
  border-color: #0070f3;
  box-shadow: 5px 8px 8px 0 #0070f3;
}

.flexOuter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-block: 20px;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: column;
}

.price {
  font-size: 1.25rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #0070f3;
}
span.price::after {
  content: " ₹";
}
span.price::before {
  content: "Price:- ";
}

.category {
  margin-top: 10px;
  font-size: 1.25rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #0070f3;
  text-transform: capitalize;
}

span.category::before {
  content: "Category:- ";
}


.btn {
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #f5ce62,
    #e43603,
    #fa7199,
    #e85a19
  );
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.btn:hover {
  cursor: pointer;
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.btn:focus {
  outline: none;
}


